/* Eléments principaux de la page */
body
{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    margin: auto;
    padding-top: 30px;
}

h1
{
    font-size: 1.4em;
    font-weight: 800;
}

h2
{
    font-size: 1.1em;
    font-weight: 800;
}

h3
{
    font-size: 1em;
    font-weight: 800;
}

p
{
    font-size: 1em;
}

span
{
    font-weight: 700;
}

nav a, section a, article a
{
    text-decoration: none;
    color: black;
}


/* Header */
header
{
    display: flex;
    justify-content: space-between;
    margin-right: 80px;
    margin-left: 80px;
}

#logo_reservia img
{
    width: 96px;
    height: 40px;
    object-fit: cover;
}

/* Navigation */
nav
{
    display: flex;
    align-items: center;
}

nav ul
{
    list-style-type: none;
    display: flex;
    font-weight: 600;
}

nav a
{
    padding: 0 25px 0 25px;
    margin-right: 20px;
}

nav p
{
    margin-right: 20px;
}

nav a:hover
{
    color: #0065fc;
    border-top: 2px solid #0065FC;
    padding-top: 40px;
}

#inscription
{
    font-weight: bold;
    color: #0065fc;
    margin-right: 50px;
    margin-left: 35px;
    cursor: pointer;
}

/* Recherche */
#recherche
{
    margin-left: 80px;
}

#recherche h1
{
    margin-bottom: -6px;
}

#zone_recherche
{
    display: inline-flex;
    align-items: center;
    vertical-align: center;
    margin-bottom: 16px;
    margin-top: -10px;
}

#zone_recherche .fa-location-dot
{
    background-color: #f2f2f2;
    width: 17px;
    border-radius: 13px 0 0 13px;
    padding: 20px 15px 17px 17px;
}

#formulaire
{
    padding: 16.4px 0 14px 16px;
    border-style: none;
    border-top: #f2f2f2 2px solid;
    border-bottom: #f2f2f2 2px solid;
    margin-left: -4px;
    width: 233px;
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
}

#formulaire:focus
{
    font-weight: 700;
    color: black;
    font-family: 'Raleway', sans-serif;
    padding: 16px 0 14px 16px;
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
}

.bouton_rechercher
{
    color: white;
    font-weight: 600;
    background-color: #0065fc;
    padding: 17px 16px 17px 16px;
    border-radius: 0 13px 13px 0;
    cursor: pointer;
    border-style: none;
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
}

.loupe
{
    padding: 19px 16px 18.5px 16px;
    border-radius: 13px;
    margin-left: -10px;
    cursor: pointer;
    background-color: #0065fc;
    display: none;
}

.loupe i
{
    color: white;
    background-color: #0065fc;
}

/* Filtres */
#filtres
{
    display: flex;
    flex-wrap: wrap;
    padding-left: 16px;
    margin-left: 80px;
}

#bloc_filtres
{
    display: flex;
}

#Eco
{
    width: 179px;
}

#Famille
{
    width: 144px;
}

#Romance
{
    width: 177px;
}

#Animaux
{
    width: 226px;
}

.picto_filtres
{
    display: flex;
    align-items: center;
    margin-right: 24px;
    border: 3px solid #f2f2f2;
    border-radius: 32px;
    margin-bottom: 16px;
    font-weight: 800;
    padding-right: 16px;
    flex-wrap: nowrap;
}

.picto_filtres i
{
    background-color: #deebff;
    border-radius: 100%;
    height: 48px;
    width: 48px;
    min-height: 56px;
    min-width: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -2px 16px -2px -2px;
    color: #0065FC;
}

.picto_filtres:hover
{
    background-color: #f2f2f2;
    cursor: pointer;
}

.picto_filtres:hover i
{
    background-color: #0065fc;
    color: #deebff;
}

#filtres h2
{
    margin-right: 40px;
}

/* Information */
#info
{
    display: flex;
    align-items: center;
    margin: 0 0 20px 80px;
    padding-left: 10px;
}

#cercle i
{
    font-weight: 900;
    color: #0065fc;
    height: 25px;
    width: 25px;
    border: solid 2px #f2f2f2;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#info p
{
    font-weight: 400;
    margin-left: 12px;
}

/* Section hébergements et populaires */
#bloc_heb_popu
{
    display: flex;
    justify-content: space-between;
    margin-left: 80px;
    margin-right: 80px;
    width: 1337px;
}

/* Hébergements */
#hebergements
{
    width: 880px;
    height: 627px;
    background-color: #f2f2f2;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 55px;
    order: 1;
}

#hebergements h1
{
    padding-left: 40px;
    padding-top: 16px;
}

#hebergements h2
{
    padding-bottom: 25px;
    cursor: pointer;
    padding-left: 40px;
}


#bloc_hebergements
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    height: 428px;
    width: 820px;
}

.vignette_hebergements
{
    height: 200px;
    width: 241px;
    border-radius: 20px;
    position: relative;
    margin-bottom: 30px;
    box-shadow: 7px 4px 9px #d7d7d7;
}

.vignette_hebergements img
{
    height: 114px;
    width: 231px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    border: white 5px solid;
    position: absolute;
    top: 0;
}

.description_hebergements
{
    background-color: white;
    border-radius: 0 0 20px 20px;
    width: 241px;
    height: 80px;
    position: absolute;
    bottom: 0;
    align-items: center;
}

.description_hebergements h3
{
    margin-bottom: -10px;
    margin-top: 6px;
    padding-left: 15px;
}

.description_hebergements p
{
    margin-bottom: 6px;
    padding-left: 15px;
}

.description_hebergements .etoiles
{
    padding-left: 15px;
}

.fa-star
{
    color: #0065fc;
}

#bleu1, #bleu2, #bleu3, #bleu4, #bleu5, #bleu6, #bleu7
{
    color: #deebff;
}

/* Populaires */
#populaires
{
    width: 420px;
    height: 627px;
    background-color: #f2f2f2;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    order: 2;
}

#titre_popu
{
    display: flex;
    justify-content: space-around;
    padding-top: 16px;
}

#titre_popu .fa-arrow-trend-up
{
    border: black 3px solid;
    border-right-style: none;
    border-top-style: none;
    align-self: center;
}

#bloc_popu
{
    height: 500px;
    width: 333px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.vignette_popu
{
    width: 334px;
    height: 134px;
    border-radius: 20px;
    align-content: space-between;
    position: relative;
    box-shadow: 3px 14px 9px #d7d7d7;
    margin-bottom: 33px;
}

.vignette_popu img
{
    width: 127px;
    height: 134px;
    object-fit: cover;
    border-radius: 20px 0 0 20px;
    border: white 5px solid;
    position: absolute;
    left: 0;
}

.description_popu
{
    width: 211px;
    height: 144px;
    background-color: white;
    border-radius: 0 20px 20px 0;
    position: absolute;
    right: 0;
}

.description_popu h3
{
    margin-bottom: -10px;
    margin-top: 11px;
    padding-left: 10px;
}

.description_popu p
{
    margin-bottom: 18px;
    padding-left: 10px;
}

.description_popu .etoiles
{
    padding-left: 10px;
}

/* Section activités */
#activites
{
    margin-right: 80px;
    margin-left: 80px;
}

#activites h1
{
    margin-top: 75px;
}

#activites h3
{
    padding-left: 20px;
}

#bloc_activites
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 62px;
    height: 446px;
    width: 1337px;
}

#Bloc1, #Bloc2
{
    display: flex;
    justify-content: space-between;
    width: 647px;
}

.deux_vignettes
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.grande_vignette
{
    width: 302px;
    height: 446px;
    position: relative;
    box-shadow: 0 4px 9px #d7d7d7;
    border-radius: 20px;
    align-self: flex-start;
}

.grande_vignette img
{
    width: 302px;
    height: 390px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    position: absolute;
    top: 0;
}

.moyenne_vignette
{
    width: 302px;
    height: 237px;
    position: relative;
    box-shadow: 0 4px 9px #d7d7d7;
    border-radius: 20px;
}

.moyenne_vignette img
{
    width: 302px;
    height: 181px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    position: absolute;
    top: 0;
}

.petite_vignette
{
    width: 302px;
    height: 164px;
    position: relative;
    box-shadow: 0 4px 9px #d7d7d7;
    border-radius: 20px;
}

.petite_vignette img
{
    width: 302px;
    height: 109px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    position: absolute;
    top: 0;
}

.description_activite
{
    background-color: white;
    border-radius: 0 0 20px 20px;
    width: 302px;
    height: 55px;
    position: absolute;
    bottom: 0;
}

/* Footer */
footer
{
    background-color: #f2f2f2;
    height: 217px;
    margin: auto;
    display: flex;
    padding-left: 80px;
}

#a_propos, #nos_hebergements, #assistance
{
    width: 33%;
    margin-top: 30px;
}

#a_propos h2, #nos_hebergements h2, #assistance h2
{
    margin-bottom: 27px;
}

#a_propos p, #nos_hebergements p, #assistance p
{
    margin-bottom: 18px;
    cursor: pointer;
}

/* Media Queries */
/* Tablettes */
@media screen and (min-width: 768px) and (max-width: 1024px)
{
    /* Filtres */
    #bloc_filtres
    {
        display: flex;
        flex-wrap: wrap;
    }

    /* Hébergements et populaires */
    #bloc_heb_popu
    {
        flex-direction: column-reverse;
    }

    #populaires
    {
        height: auto;
        width: auto;
        max-width: 1024px;
        margin-bottom: 60px;
        padding: 0 17px 0 17px;
    }
    
    #titre_popu
    {
        justify-content: space-between;
        padding-left: 40px;
        padding-top: 16px;
    }
    
    #bloc_popu
    {
        flex-direction: row;
        justify-content: space-around;
    }

    .vignette_popu
    {
        display: block;
    }

    /* Activités */
    #activites
    {
        width: auto;
        max-width: 1024px;
        margin: auto
    }
    
    #bloc_activites
    {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #Bloc1, #Bloc2
    {
        display: flex;
        justify-content: space-between;
        width: auto;
    }

    .deux_vignettes
    {
        display: inherit;
        flex-direction: unset;
    }
    
    .grande_vignette, .moyenne_vignette, .petite_vignette
    {
        width: 334px;
        height: 190px;
        margin-bottom: 24px;
    }

    .grande_vignette img, .moyenne_vignette img, .petite_vignette img
    {
        width: 334px;
        height: 135px;
        object-fit: cover;
    }

    .description_activite
    {
        width: 334px;
        height: 55px;
    }

    /* Footer */
    footer
    {
        width: 100%;
        min-width: 768px;
    }
}

/* Mobiles */
@media screen and (max-width: 767px)
{
    /* Changements sur l'ensemble de la page */
    body
    {
        width: initial;
    }
    
    header, #recherche, #filtres, #info, #bloc_heb_popu, #populaires, #activites
    {
        margin: auto;
    }
    
    /* Header */
    header
    {
        display: inherit;
    }

    #logo_reservia
    {
        margin-bottom: 16px;
    }

    nav ul
    {
        display: flex;
    }

    nav a
    {
        display: inline-block;
        text-align: center;
        flex: 1;
        width: 50%;
        padding: 0 25px 17px 25px;
        border-bottom: 3px solid #f2f2f2;
    }

    nav a:hover
    {
        color: #0065fc;
        border-top: none;
        border-bottom: 3px solid #0065fc;
        padding-bottom: 17px;
        padding-top: 0;
        margin-bottom: -19px;
    }

    #inscription
    {
        position: absolute;
        top: 27px;
        right: 0;
    }
    
    /* Recherche */
    #zone_recherche
    {
        width: 100%;
    }
    
    .bouton_rechercher
    {
        display: none;
    }

    .loupe
    {
        display: inherit;
    }

    /* Filtres */
    #filtres
    {
        display: inherit;
    }

    #bloc_filtres
    {
        display: flex;
        flex-wrap: wrap;
    }
    
    /* Hébergements et populaires */
    #bloc_heb_popu
    {
        flex-direction: column-reverse;
        margin-left: 0;
        margin-right: 0;
    }
    
    /* Hébergements */
    #hebergements
    {
        width: auto;
        height: auto;
        background-color: white;
    }

    #hebergements h1
    {
        padding-left: 0;
    }
    
    #bloc_hebergements
    {
        display: inherit;
        flex-direction: column;
        height: auto;
    }

    .vignette_hebergements
    {
        width: 334px;
    }

    .vignette_hebergements img
    {
        width: 324px;
        object-fit: cover;
    }

    .description_hebergements
    {
        width: 324px;
    }
    
    /* Populaires */
    #populaires
    {
        border-radius: 0;
        height: auto;
    }
    
    /* Activités */
    #activites
    {
        width: auto;
    }
    
    #bloc_activites
    {
        flex-direction: column;
    }

    #Bloc1, #Bloc2
    {
        flex-direction: column;
    }

    .deux_vignettes
    {
        display: inherit;
    }
    
    .grande_vignette, .moyenne_vignette, .petite_vignette
    {
        width: 334px;
        height: 190px;
        margin-bottom: 24px;
    }

    .grande_vignette img, .moyenne_vignette img, .petite_vignette img
    {
        width: 334px;
        height: 135px;
        object-fit: cover;
    }

    .description_activite
    {
        width: 334px;
        height: 55px;
    }
    
    /* Footer */
    footer
    {
        height: auto;
        min-width: 100%;
        display: inherit;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    #a_propos, #nos_hebergements, #assistance
    {
        margin-bottom: 49px;
    }
}

/* Petits mobiles */
@media screen and (max-width: 320px)
{
    #formulaire
    {
        width: 75%;
    }

    .loupe
    {
        margin-left: -22px;
    }
}