/* Eléments principaux de la page */
body
{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

#bloc_page
{
    width: 1340px;
    margin: auto;
}

h1
{
    font-size: 1.4em;
    font-weight: 800;
}

h2
{
    font-size: 1.1em;
    font-weight: 800;
}

h3
{
    font-size: 1em;
    font-weight: 800;
}

p
{
    font-size: 1em;
}

span
{
    font-weight: 700;
}

section a, aside a
{
    text-decoration: none;
    color: black;
}


/* Header */
header
{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

#logo_reservia img
{
    width: 96px;
    height: 40px;
}

/* Navigation */
nav ul
{
    list-style-type: none;
    display: flex;
    font-weight: 600;
}

nav li
{
    margin-right: 69px;
}

nav a
{
    text-decoration: none;
    color: black;
}

nav a:hover
{
    color: #0065fc;
    border-top: #0065fc solid 2px;
    border-top-width: 50px;
    padding-top: 40px;
}

#inscription
{
    font-weight: bold;
    color: #0065fc;
}

/* Recherche */
#recherche h1
{
    margin-bottom: -6px;
}

#zone_recherche
{
    display: flex;
    align-items: center;
    vertical-align: center;
    margin-bottom: 16px;
    margin-top: -10px;
}

#zone_recherche i
{
    background-color: #f2f2f2;
    width: 17px;
    border-radius: 13px 0 0 13px;
    padding: 17px;
}

#formulaire
{
    padding: 16.6px 0 13.6px 16px;
    border-style: none;
    border-top: #f2f2f2 2px solid;
    border-bottom: #f2f2f2 2px solid;
    margin-left: -4px;
    width: 233px;
}

#formulaire:focus
{
    font-weight: 700;
    color: black;
    font-family: 'Raleway', sans-serif;
}

#bouton_rechercher
{
    color: white;
    font-weight: 600;
    background-color: #0065fc;
    padding: 16.6px 16px 13.8px 16px;
    border-radius: 0 13px 13px 0;
}

/* Filtres */
#filtres
{
    display: flex;
    margin: 16px 0 0 16px;
}

.picto_filtres i
{
    color: #0065fc;
    background-color: #deebff;
    border-radius: 50%;
    padding: 17px;
    margin-right: 10px;
}

.picto_filtres
{
    display: flex;
    margin-right: 24px;
    border-radius: 34px;
    border: #f2f2f2 solid 3px;
    border-left-style: none;
    font-weight: 800;
    padding-right: 22px;
}

.picto_filtres:hover
{
    background-color: #f2f2f2;
}

.picto_filtres:hover i
{
    background-color: #0065fc;
    color: #deebff;
}

#filtres h2
{
    margin-right: 40px;
}

/* Info */
#info
{
    display: flex;
    align-items: center;
    margin: 25px 0 25px 15px;
}

#cercle
{
    height: 25px;
    width: 25px;
    border: solid 2px #f2f2f2;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cercle i
{
    font-weight: 900;
    color: #0065fc;
}

#info p
{
    font-weight: 400;
    margin-left: 12px;
}

/* Hébergements */
#hebergements
{
    width: 880px;
    height: 627px;
    background-color: #f2f2f2;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 40px;
    margin-right: 40px;
}


#bloc_hebergements
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    height: 428px;
    width: 820px;
}

.vignette_hebergements
{
    height: 200px;
    width: 236px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: auto;
    position: relative;
    margin-bottom: 30px;
    box-shadow: 7px 4px 9px #d7d7d7;
}

.vignette_hebergements img
{
    height: 114px;
    width: 231px;
    border-radius: 20px 20px 0 0;
    border: white 5px solid;
    position: absolute;
    top: 0;
}

.description_hebergements
{
    background-color: white;
    border: white 5px solid;
    border-radius: 0 0 20px 20px;
    width: 231px;
    height: 80px;
    position: absolute;
    bottom: 0;
}

.fa-star
{
    color: #0065fc;
}

#bleu1, #bleu2, #bleu3, #bleu4, #bleu5, #bleu6, #bleu7
{
    color: #deebff;
}

/* Populaires */
#populaires
{
    width: 420px;
    height: 627px;
    background-color: #f2f2f2;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#titre_popu
{
    display: flex;
    justify-content: space-around;
    padding-top: 16px;
}

#titre_popu .fa-arrow-trend-up
{
    border: black 3px solid;
    border-right-style: none;
    border-top-style: none;
    align-self: center;
}

#bloc_popu
{
    height: 500px;
    width: 333px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
}

.vignette_popu
{
    width: 333px;
    height: 134px;
    border-radius: 20px;
    display: flex;
    align-content: space-around;
    position: relative;
    margin: auto;
    box-shadow: 3px 14px 9px #d7d7d7;
}

.vignette_popu img
{
    width: 127px;
    height: 134px;
    border-radius: 20px 0 0 20px;
    border: white 5px solid;
    position: absolute;
    left: 0;
}

.description_popu
{
    background-color: white;
    border: white 5px solid;
    border-radius: 0 20px 20px 0;
    width: 201px;
    height: 134px;
    position: absolute;
    right: 0;
}

/* Hébergements et populaires */
#bloc_heb_popu
{
    display: flex;
    justify-content: space-around;
}

/* Activités */
#activites h1
{
    margin-top: 75px;
}

#activites h3
{
    padding-left: 20px;
}

#bloc_activites
{
    width: 1340px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 62px;
}

#Bloc1, #Bloc2, #Bloc3, #Bloc4
{
    width: 302px;
    height: 446px;
}

#Bloc2, #Bloc4
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.grande_vignette
{
    width: 302px;
    height: 446px;
    position: relative;
    box-shadow: 0 4px 9px #d7d7d7;
    border-radius: 20px;
}

.grande_vignette img
{
    width: 302px;
    height: 390px;
    border-radius: 20px 20px 0 0;
    position: absolute;
    top: 0;
}

.moyenne_vignette
{
    width: 302px;
    height: 237px;
    position: relative;
    box-shadow: 0 4px 9px #d7d7d7;
    border-radius: 20px;
}

.moyenne_vignette img
{
    width: 302px;
    height: 181px;
    border-radius: 20px 20px 0 0;
    position: absolute;
    top: 0;
}

.petite_vignette
{
    width: 302px;
    height: 164px;
    position: relative;
    box-shadow: 0 4px 9px #d7d7d7;
    border-radius: 20px;
}

.petite_vignette img
{
    width: 302px;
    height: 109px;
    border-radius: 20px 20px 0 0;
    position: absolute;
    top: 0;
}

.description_activite
{
    background-color: white;
    border-radius: 0 0 20px 20px;
    width: 302px;
    height: 55px;
    position: absolute;
    bottom: 0;
}

/* Footer */
footer
{
    background-color: #f2f2f2;
}

#bloc_page_footer
{
    width: 1340px;
    margin: auto;
    display: flex;
}

#a_propos, #nos_hebergements, #assistance
{
    width: 33%;
}